.switch {
  justify-content: center;
  float: right;
  margin: 0.4rem;
}
.uncheckedHandleIcon {
  margin: 0.15rem;
  font-size: 1.25rem;
  color: white;
}
.checkedHandleIcon {
  margin: 0.15rem;
  font-size: 1.25rem;
  color: #363636;
}
